// Color
// $primary-color: #A50808;
// $secondary-color: #EA2026;
// $tertiary-color: #F1C8C8;
// $quadiary-color: #C6CAC9;

$primary: #A50808;
$secondary: #F1C8C8;

// Typography
$font-family-base: roboto, 'sans-serif';
$font-weight-base: 300;

// Button 
$input-btn-padding-x: 1.5rem;
$btn-border-radius: 2px;