extends pug/t_default.pug

block content
  .jumbotron.jumbotron-fluid.mb-0
    .container.text-center.text-white.py-5
      h1
        strong Telkomsel Innovation Center
      p.lead Turning today’s imagination into tomorrow’s ground-breaking innovation.
  
  section.bg-primary.py-3
    .container
      .row.align-items-center
        .col-lg-9.text-white
          p.mb-0.lead To get Game-Changing results, start focusing on Game-Changing thoughts. <br> Would you like to 
            b Join with us?
        .col-lg-3.text-center
          a.btn.btn-secondary Join Us
  
  section.py-5
    .container
      .row.align-items-center
        .col-lg-6
          header.mb-4.text-lg-right.pr-lg-4
            h2.small.text-primary.text-uppercase
              strong Telkomsel Innovation Center
            h3.h4
              strong Innovate Solution for the People, The Country and the World
          article.text-lg-right.pr-lg-4
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo officiis optio inventore repellat, recusandae exercitationem aperiam ducimus qui, accusamus pariatur veniam illo ipsam sit provident consectetur incidunt molestias, fuga ea.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos porro consequatur consectetur libero cum soluta, delectus ab perspiciatis nam doloribus placeat voluptatibus minima adipisci nihil excepturi aliquam corporis ipsum amet?

        .col-lg-6
          .embed-responsive.embed-responsive-16by9
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xXrEUkWLDsU" allowfullscreen="" kwframeid="1"></iframe>
  
  .separator.py-5.text-center
    img(src="img/assets/separator.svg", alt="")
  
  section.py-5
    .container.mb-5
      header.mb-4.text-center
        h2.small.text-primary.text-uppercase
          strong Why Innovation Labs
        h3.h4
          strong We Help from the Start, and make your business Grown Better
      article.text-center.mx-auto(style="max-width: 35em")
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo officiis optio inventore repellat, recusandae exercitationem aperiam ducimus qui, accusamus pariatur veniam illo ipsam sit provident consectetur incidunt molestias, fuga ea.
    .container
      .row
        .col-lg-6
          .BlockToMedia.d-lg-flex.mb-5
            .BlockToMedia__img.text-center.mb-3
              img(src="img/icons/microphone.svg", alt="" width="96px")
            .BlockToMedua__body.pl-lg-4
              h6.font-weight-bold Priceless opportunity get a reliable business mentor in Startup and Technology field
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus animi ducimus voluptates officiis ut, laudantium dolorem consequatur id, assumenda laborum distinctio vel libero voluptate ullam quibusdam voluptatem odio! Provident, non.
        .col-lg-6
          .BlockToMedia.d-lg-flex.mb-5
            .BlockToMedia__img.text-center.mb-3
              img(src="img/icons/cloud.svg", alt="" width="96px")
            .BlockToMedua__body.pl-lg-4
              h6.font-weight-bold Get Access to Telkomsel assets and inventory
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus animi ducimus voluptates officiis ut, laudantium dolorem consequatur id, assumenda laborum distinctio vel libero voluptate ullam quibusdam voluptatem odio! Provident, non.
        .col-lg-6
          .BlockToMedia.d-lg-flex.mb-5.mb-lg-0
            .BlockToMedia__img.text-center.mb-3
              img(src="img/icons/fund.svg", alt="" width="96px")
            .BlockToMedua__body.pl-lg-4
              h6.font-weight-bold Change to get Startup Digital funding
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus animi ducimus voluptates officiis ut, laudantium dolorem consequatur id, assumenda laborum distinctio vel libero voluptate ullam quibusdam voluptatem odio! Provident, non.
        .col-lg-6
          .BlockToMedia.d-lg-flex.mb-5.mb-lg-0
            .BlockToMedia__img.text-center.mb-3
              img(src="img/icons/unlock2.svg", alt="" width="96px")
            .BlockToMedua__body.pl-lg-4
              h6.font-weight-bold Unlocking market access
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus animi ducimus voluptates officiis ut, laudantium dolorem consequatur id, assumenda laborum distinctio vel libero voluptate ullam quibusdam voluptatem odio! Provident, non.
  
  .separator.py-5.text-center
    img(src="img/assets/separator.svg", alt="")

  section.py-5
    .container.px-0.overflow-x-hidden
      .row
        .col-lg-4
          .px-3
            header.mb-4.text-lg-right.pr-lg-4
              h2.small.text-primary.text-uppercase
                strong Mentors
              h3.h4
                strong Learn from industry experts who are passionate about teaching.
            article.text-lg-right.pr-lg-4
              p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo officiis optio inventore repellat, recusandae exercitationem aperiam ducimus qui, accusamus pariatur veniam illo ipsam sit provident consectetur incidunt molestias, fuga ea.
            

        .col-lg-8
          .MentorGrid.mb-4
            .d-flex.flex-wrap.MentorGrid__container
              img(src="img/mentor/mentor-1.jpg")
              img(src="img/mentor/mentor-2.jpg")
              img(src="img/mentor/mentor-3.jpg")
              img(src="img/mentor/mentor-4.jpg")
              img(src="img/mentor/mentor-5.jpg")
              img(src="img/mentor/mentor-6.jpg")
              img(src="img/mentor/mentor-7.jpg")
              img(src="img/mentor/mentor-8.jpg")
              img(src="img/mentor/mentor-9.jpg")
              img(src="img/mentor/mentor-10.jpg")
              img(src="img/mentor/mentor-11.jpg")
              img(src="img/mentor/mentor-12.jpg")
          .text-center.text-lg-left
            a.btn.btn-primary(href="#") View All Mentors
  
  section.py-5.bg-event
    .container.mb-5
      header.mb-4.text-center
        h2.small.text-uppercase.font-weight-bold Event
        h3.h4.font-weight-bold Attend Our Event & get INSPIRED. Together we INSPIRE!
      article.text-center.mx-auto(style="max-width: 35em")
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo officiis optio inventore repellat, recusandae exercitationem aperiam ducimus qui, accusamus pariatur veniam illo ipsam sit provident consectetur incidunt molestias, fuga ea.