header.MainHeader
  .container
    nav.navbar.navbar-expand-lg
      a.navbar-brand(href="index.html")
        img(src="img/logo.png", alt="" height="40px")
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapes.navbar-collapse.justify-content-end#navbarNav
        ul.navbar-nav.font-weight-bold
          li.nav-item
            a.nav-link(href="") About Us
          li.nav-item
            a.nav-link(href="") Innovation Labs
          li.nav-item
            a.nav-link(href="") Digital Solution
          li.nav-item
            a.nav-link(href="") News&Event
          li.nav-item
            a.nav-link(href="") Registration
          li.nav-item
            a.nav-link(href="") Contact